
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

body {
    background-color: rgb(223, 194, 225);
}


.heading {
    text-align: center;
    font-family: 'Gajraj One', cursive;

}

.heading2 {
    font-family: 'Gajraj One', cursive;
}


.container { display: inline-block;}
.main-heading {
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s;

}

@keyframes typing {
    from { width: 0;}
}

@keyframes SlideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.recipe-heading {
    
    animation: SlideInLeft 1s ease-in 1 normal none;

}

